<div class="header">
    <a href="#company" class="logo">Morgan Stanley</a>
    <a style="font-size: 32px;margin-left: 35%;transform: translate(-50%,0);"><i class="material-icons">home</i>MiHome</a>
    <div class="header-right">
        <a href="#home" class="vl" style="border-right: 2px solid black;"><span style="border: 1px solid black;"
                class="material-icons">add</span></a>
        <a href="#contact" class="vl" style="border-right: 2px solid black;"><span
                class="material-icons">content_copy</span></a>
        <a href="#user"><span class="material-icons">verified_user</span></a>
    </div>
</div>