.example-container {
  width: 100vw;
  height: 89vh;
}

.example-sidenav-content {
  display: flex;
}

.example-sidenav {
  padding: 20px;
  width: 20%;
  background-color: #86869b;
}

#menu-icon {
  font-size: 32px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.w-50-div {
  width: 25%;
  padding: 10px;
  margin : 30px;
}

.w-100-div {
  width: 100%;
}

#link {
  word-wrap: break-word;
}

#edit-icon{
  float: right;
  cursor: pointer;
}

.mat-card-image {
  width: 100% !important;
  margin: 0px !important;
}

.mat-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}
