<mat-toolbar style="background: #584558;">
  <span style="color: antiquewhite;margin-left: 10px;">Morgan Stanley</span>
</mat-toolbar>

<div id="button-container">
  <span>
    <button mat-flat-button style="margin-right: 25px;" color="primary">Add</button>
  </span>
  <span>
    <button mat-flat-button color="primary">Save</button>
  </span>
  <span>
    <button mat-flat-button style="float: right;" color="primary">Reset</button>
  </span>
</div>


<div style="margin-left: 25px;margin-top: 25px;">

  <table style="width: 100%;">
    <tr>
      <td style="width: 10%;">
        <mat-label>Tile Name</mat-label>
      </td>
      <td style="width: 40%;">
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-option value="jira">Jira</mat-option>
            <mat-option value="gmail" disabled>Gmail</mat-option>
            <mat-option value="stash">Stash</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td style="width: 10%;">
        <mat-label>Link</mat-label>
      </td>
      <td style="width: 40%;">
        <mat-form-field appearance="fill">
          <input matInput required>
        </mat-form-field>
        <mat-icon style="font-size: 32px;margin-left: 12px;">delete_outline</mat-icon>
      </td>
    </tr>
    <tr>
      <td style="width: 10%;">
        <mat-label>Rows</mat-label>
      </td>
      <td style="width: 40%;">
        <mat-slider aria-label="unit(s)"></mat-slider>
      </td>
      <td style="width: 12%;">
        <mat-label>Background Image</mat-label>
      </td>
      <td style="width: 40%;">
        <button class="file-upload-button">
          <input type="file" #fileInput />
          Upload
        </button>
      </td>
    </tr>
    <tr>
      <td style="width: 10%;">
        <mat-label>Columns</mat-label>
      </td>
      <td style="width: 40%;">
        <mat-slider aria-label="unit(s)"></mat-slider>
      </td>
      <td style="width: 10%;">
        <mat-label>Details</mat-label>
      </td>
      <td style="width: 40%;">
        <mat-form-field appearance="fill">
          <input matInput required>
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>


