<form [formGroup]="modalForm">

    <div>
        <h1 mat-dialog-title>Widget Options</h1>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>URL</mat-label>
            <input formControlName="url" matInput placeholder="URL">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="Name">
        </mat-form-field>

        <button class="file-upload-button">
            <input type="file" formControlName="picture" #fileInput (change)="onFileSelect(fileInput)" />
            Upload
        </button>
        <span class="file-info">{{ fileInfo }}</span>
    </div>
</form>

<div style="float: right;margin-top: 10px;">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="save()">Save</button>
</div>